<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Правила логирования -->
	<rules>
		<!-- Логи пишутся в базу данных -->
		<logger name="*" minlevel="Info" writeTo="database" />
	</rules>

	<!-- Цели логирования -->
	<targets>
		<!-- Запись в SQLite -->
		<target xsi:type="Database" name="database"
				connectionString="Data Source=DataBase.db;Version=3;"
				keepConnection="true">
			<!-- SQL-запрос для вставки данных -->
			<commandText>
				INSERT INTO Logs (Timestamp, Command, Response, Result)
				VALUES (@timestamp, @command, @response, @result)
			</commandText>

			<!-- Параметры запроса -->
			<parameter name="@timestamp" layout="${longdate}" />
			<parameter name="@command" layout="${gdc:item=command}" />
			<parameter name="@response" layout="${gdc:item=response}" />
			<parameter name="@result" layout="${gdc:item=result}" />
		</target>
	</targets>
</nlog>
